h1{
	text-align: center;
}

.corp{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

form{
	width: 10%;
}

article{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.taches{
	border: 3px black;
}
